{% extends 'base.html' %}
{% block title %}
Enderecos
{% endblock %}

{% block body %}
<h1>Endereco</h1>
<table>
    <tr>
        <th>CEP</th>
        <th>Logradouro</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Localidade</th>
        <th>UF</th>
    </tr>
    <tr>
        <td>{{data['cep']}}</td>
        <td>{{data['logradouro']}}</td>
        <td>{{data['complemento']}}</td>
        <td>{{data['bairro']}}</td>
        <td>{{data['localidade']}}</td>
        <td>{{data['uf']}}</td>
    </tr>
</table>
{% endblock %}