{% extends 'base.html' %}
{% block title %}
teste
{% endblock %}

{% block body %}
<h1>Titulo</h1>
<p>Hello World</p>
    {%for n in numeros%}
        {%if n % 2 == 0%}
        <p>{{n}}</p>
        {%endif%}
    {%endfor%}
{% endblock %}